<div id="reviews">
  <h4><%= review.user.email %></h4>
  <div class="review-rating" data-score="<%= review.rating %>"></div></br>
  <p><%= review.comment %></p>
  <% if user_signed_in? %>
    <% if review.user_id == current_user.id %>
      <div id="links">
        <%= link_to "Edit", edit_play_review_path(review.play, review) %> | <%= link_to "Delete", play_review_path(review.play, review), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  <% end %>
</div>
